@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: dark;
}

body {
  margin: 0;
  padding: 0;
  background-color: #050103;
  overflow: hidden;
  font-family: 'Playfair Display', serif;
  width: 100vw;
  height: 100vh;
}

#root {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

/* Custom Scrollbar hide */
::-webkit-scrollbar {
  display: none;
}
